Repository Tuteria/Frontend-Assessment: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": [
    "prettier --write",
    "eslint --fix",
    "tsc --allowJs --noEmit --esModuleInterop"
  ],
  "**/*.{md,yml,json,babelrc,eslintrc,prettierrc}": [
    "prettier --write"
  ]
}

feat: add global reducer
  packages/notes/reducer.ts
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

feat: add PageProvider component
  packages/notes/components/PageProvider/PageProvider.tsx
  packages/notes/components/PageProvider/index.ts
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

feat: add truncateText function
  packages/notes/utils/index.ts
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

feat: add index page
  packages/notes/components/Footer/Footer.tsx
  packages/notes/components/Footer/index.ts
  packages/notes/components/Grid/Grid.tsx
  packages/notes/components/Grid/index.ts
  packages/notes/components/Header.tsx
  packages/notes/components/Header/Header.tsx
  packages/notes/components/Header/NavLink.tsx
  packages/notes/components/Header/index.ts
  packages/notes/components/Main/Main.tsx
  packages/notes/components/Main/index.ts
  packages/notes/components/Note/DeleteNoteBtn.tsx
  packages/notes/components/Note/Note.tsx
  packages/notes/components/Note/index.ts
  packages/notes/components/NoteModal/CreateBtn.tsx
  packages/notes/components/NoteModal/EditBtn.tsx
  packages/notes/components/NoteModal/ModalActivator.tsx
  packages/notes/components/NoteModal/NoteModal.tsx
  packages/notes/components/NoteModal/index.ts
  packages/notes/components/index.ts
  packages/notes/pages/_app.tsx
  packages/notes/pages/index.tsx
  packages/notes/server/controllers/notes.ts
  packages/notes/server/controllers/users.ts
  packages/notes/server/middleware/index.ts
  packages/notes/server/types.ts
  packages/notes/styles/main.css
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

save changes
  docker-compose.yml
  startup.sh
Due: prettier --write

chore: updated heroku.yml
  heroku.yml
Due: prettier --write

fix: add heroku run command
  heroku.yml
Due: prettier --write

chore: deployment setup
  heroku.yml
  ops/example/Dockerfile
  package.json
Due: prettier --write

chore: remove unused variables and imports
  packages/www/src/api/client.ts
  packages/www/src/components/AdminHeader.tsx
  packages/www/src/components/Header.tsx
  packages/www/src/components/Layout/AdminLayout.tsx
  packages/www/src/components/Layout/UserLayout.tsx
  packages/www/src/components/LoginForm.tsx
  packages/www/src/components/NewUserForm.tsx
  packages/www/src/components/NoteForm.tsx
  packages/www/src/components/NoteList/Note.tsx
  packages/www/src/components/NoteList/NoteList.tsx
  packages/www/src/components/NoteList/index.ts
  packages/www/src/components/NoteView.tsx
  packages/www/src/components/UserList/index.tsx
  packages/www/src/hooks/useFetcher.ts
  packages/www/src/libs/cookie.ts
  packages/www/src/pages/[username].js
  packages/www/src/pages/admin/index.tsx
  packages/www/src/pages/admin/login.tsx
  packages/www/src/pages/index.tsx
  packages/www/src/pages/login.tsx
  packages/www/src/store/Provider.tsx
  packages/www/src/store/constants.ts
  packages/www/src/store/reducer.ts
  packages/www/src/types/note.d.ts
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

feat: show loader on api requests
  packages/www/src/components/LoginForm.tsx
  packages/www/src/components/NewUserForm.tsx
  packages/www/src/components/NoteForm.tsx
  packages/www/src/components/NoteList/Note.tsx
  packages/www/src/components/NoteList/NoteList.tsx
  packages/www/src/components/UserList/User.tsx
  packages/www/src/components/UserList/Users.tsx
  packages/www/src/pages/admin/index.tsx
  packages/www/src/pages/admin/login.tsx
  packages/www/src/pages/login.tsx
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

fix: possible null variable warnings
  services/example/src/users.ts
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

chore: remove yarn.lock from dockerfile
  Dockerfile
Due: none

refactor: move dockerfile location
  Dockerfile
  heroku.yml
Due: prettier --write

chore(package.json): remove devdependencies from dependencies
  package.json
Due: prettier --write

fix: reset notes and users state when header is clicked
  packages/www/src/components/AdminHeader.tsx
  packages/www/src/components/Header.tsx
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

fix: change docker image name to web in heroku.yml
  heroku.yml
Due: prettier --write

feat: access API_URL from env variable
  packages/notes/components/Note/DeleteNoteBtn.tsx
  packages/notes/components/Note/Note.tsx
  packages/notes/components/NoteModal/NoteModal.tsx
  packages/notes/pages/index.tsx
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

refactor: move PageProvider to _app page
  packages/notes/pages/_app.tsx
  packages/notes/pages/index.tsx
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

fix: 404 errors on user notes page
  packages/www/src/components/Header.tsx
  packages/www/src/pages/admin/login.tsx
  packages/www/src/pages/login.tsx
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

feat: added 404 error page
  packages/www/src/pages/404.tsx
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

fix: add user to state after login
  packages/www/src/components/UserList/User.tsx
  packages/www/src/components/UserList/Users.tsx
  packages/www/src/store/Provider.tsx
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

chore: add note user to types
  packages/www/src/types/note.d.ts
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

feat: add users/[username] page
  packages/notes/components/Note/Note.tsx
  packages/notes/components/NoteModal/ModalActivator.tsx
  packages/notes/components/PageProvider/PageProvider.tsx
  packages/notes/components/PageProvider/index.ts
  packages/notes/components/index.ts
  packages/notes/pages/index.tsx
  packages/notes/pages/users/[username].tsx
  packages/notes/server/controllers/users.ts
  packages/notes/types.ts
  packages/notes/utils/index.ts
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

Feat: Hosted the backend service on heroku, url: ### Running the next app
  packages/www/src/appEnv.ts
  services/note/README.md
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

Feat: Hosted the backend service on heroku, url: https://chidibede-tuteria-backend.herokuapp.com/
  services/note/README.md
Due: prettier --write

fix: issues with users not able to login with username
  services/example/src/helpers.ts
  services/example/src/users.ts
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

feat: add login page
  packages/notes/components/LoginForm/LoginForm.tsx
  packages/notes/components/LoginForm/index.ts
  packages/notes/components/NoteModal/CreateBtn.tsx
  packages/notes/components/NoteModal/NoteModal.tsx
  packages/notes/components/index.ts
  packages/notes/pages/login.tsx
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

chore: how to run application
  SETUP.md
Due: prettier --write

Feat: used cookies to authorize admin page
  package.json
  packages/www/components/Layout.tsx
  packages/www/components/Navbar.tsx
  packages/www/css/styles.css
  packages/www/pages/admin/index.tsx
  packages/www/pages/users/[username]/edit.tsx
  packages/www/pages/users/[username]/index.tsx
  packages/www/pages/users/index.tsx
  packages/www/pages/users/login.tsx
  packages/www/pages/users/register.tsx
  packages/www/src/appEnv.ts
  packages/www/tsconfig.json
  services/note/src/router/users/index.ts
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

fix: finalized the client side
  packages/www/components/Navbar.tsx
  packages/www/pages/admin/index.tsx
  packages/www/pages/admin/login.tsx
  packages/www/pages/admin/logout.tsx
  packages/www/pages/notes/new.tsx
  packages/www/pages/users/login.tsx
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

fix: removed unused codes
  packages/www/pages/admin/logout.tsx
  packages/www/src/auth/checkAuthMiddleware.ts
  packages/www/src/auth/issueTokens.ts
  packages/www/src/auth/validations.ts
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

fix: update state only while components are mounted
  packages/notes/components/Header/Header.tsx
  packages/notes/components/Note/DeleteNoteBtn.tsx
  packages/notes/components/NoteModal/NoteModal.tsx
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

feat: add login page
  packages/notes/pages/login.tsx
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

fix(users page): fix margin on header
  packages/notes/pages/_app.tsx
  packages/notes/pages/users/[username].tsx
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

feat: highlight active links
  packages/notes/components/Header/NavLink.tsx
  packages/notes/utils/index.ts
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop
