Repository Tuteria/Frontend-Assessment: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": [
    "prettier --write",
    "eslint --fix",
    "tsc --allowJs --noEmit --esModuleInterop"
  ],
  "**/*.{md,yml,json,babelrc,eslintrc,prettierrc}": [
    "prettier --write"
  ]
}

chore: update prisma models
  packages/notes/package.json
  packages/notes/prisma/schema.prisma
Due: prettier --write

feat: add custom express server
  packages/notes/server/app.ts
  packages/notes/server/index.ts
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

chore: update dependencies
  packages/notes/package.json
Due: prettier --write

feat: Added The CRUD Frontend
  packages/www/components/ErrorMessage.tsx
  packages/www/pages/[id]/edit.tsx
  packages/www/pages/[id]/index.tsx
  packages/www/pages/index.tsx
  services/note/src/router/notes/controllers/getOneNote.ts
  services/note/src/router/notes/index.ts
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

fix: Added Toast to improve user experience
  packages/www/pages/[id]/edit.tsx
  packages/www/pages/new.tsx
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

add custom types
  packages/notes/server/types.ts
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

configure babel
  packages/notes/.babelrc
Due: prettier --write

Install babel dependencies
  package.json
Due: prettier --write

feat: add create notes endpoint
  packages/notes/.gitignore
  packages/notes/package.json
  packages/notes/server/app.ts
  packages/notes/server/controllers/notes.ts
  packages/notes/server/lib/index.ts
  packages/notes/server/routes/index.ts
  packages/notes/server/routes/notes.ts
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

feat: add GET /notes endpoint
  packages/notes/server/controllers/notes.ts
  packages/notes/server/routes/notes.ts
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

feat: update create note endpoint
  packages/notes/server/controllers/notes.ts
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

feat(notes): add GET /note/:id endpoint
  packages/notes/server/controllers/notes.ts
  packages/notes/server/routes/notes.ts
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

chore: install type declarations
  package.json
Due: prettier --write

feat: add request authentication middleware
  packages/notes/server/app.ts
  packages/notes/server/middleware/index.ts
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

feat: add middleware to verify note ownership
  packages/notes/server/app.ts
  packages/notes/server/middleware/index.ts
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

feat: add update note endpoint
  packages/notes/server/controllers/notes.ts
  packages/notes/server/middleware/index.ts
  packages/notes/server/routes/notes.ts
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

feat: add delete note endpoint
  packages/notes/server/controllers/notes.ts
  packages/notes/server/routes/notes.ts
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

feat: add users/:username/notes endpoint
  packages/notes/server/app.ts
  packages/notes/server/controllers/users.ts
  packages/notes/server/routes/index.ts
  packages/notes/server/routes/users.ts
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

chore(data-layer): increase users model password column length
  data-layer/data_layer/models/users.py
  data-layer/migrations/env.py
  data-layer/migrations/versions/674d46e33292_updated_password_length.py
  data-layer/migrations/versions/6b0cc6215d04_increase_password_length.py
  data-layer/migrations/versions/83aa1e0bd5e1_increased_password_length.py
  data-layer/migrations/versions/eddb9f3c4309_increased_password_length.py
Due: none

feat: add login/registration endpoint
  packages/notes/server/controllers/users.ts
  packages/notes/server/routes/users.ts
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

refactor: update request auth middleware
  packages/notes/server/middleware/index.ts
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

fix: implement feedback and a few changes
  package.json
  services/note-app/README.md
  services/note-app/package.json
  services/note-app/pages/api/notes/create.ts
  services/note-app/pages/api/users/[username]/notes.ts
  services/note-app/pages/api/users/auth.ts
  services/note-app/pages/api/users/create.ts
  services/note-app/pages/api/users/index.ts
  services/note-app/pages/note/[noteId]/delete.tsx
  services/note-app/pages/users/[username]/notes.tsx
  services/note-app/pages/users/index.tsx
  services/note-app/tests/notes.spec.ts
  services/note-app/tests/users.spec.ts
  services/note-app/utils/hashPass.ts
  services/note-app/utils/isAdmin.ts
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

fix: type errors in app.ts
  services/example/src/app.ts
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

chore: update db users columns - added new migrations - updated prisma schema file
  data-layer/data_layer/models/users.py
  data-layer/migrations/versions/1cd9fcad8ffc_made_username_field_unique.py
  data-layer/migrations/versions/2d296a0ef63b_added_users_table.py
  data-layer/migrations/versions/b4bbfceab2d2_added_users_and_notes_table.py
  services/example/prisma/schema.prisma
Due: none

feat: added users endpoints
  services/example/src/index.ts
  services/example/src/users.ts
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

fix: create user specific notes
  services/example/src/notes.ts
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

chore: added custom express types fields
  services/example/src/custom-express.d.ts
  tsconfig.json
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

chore: add get all notes test
  services/example/tests/notes.ts
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

chore: installed need dependencies
  package.json
  services/example/package.json
Due: prettier --write

feat: added authentication middlewares
  services/example/src/middlewares.ts
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

feat: created user table in data layer - added new migration file for users
  data-layer/data_layer/models/__init__.py
  data-layer/data_layer/models/notes.py
  data-layer/data_layer/models/users.py
  data-layer/migrations/versions/2d296a0ef63b_added_users_table.py
Due: none

refactor: move custom types to types directory
  services/example/src/types/custom-express.d.ts
  tsconfig.json
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

feat: added notes endpoints
  services/example/src/notes.ts
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

feat: add create users endpoint
  packages/notes/server/controllers/users.ts
  packages/notes/server/middleware/index.ts
  packages/notes/server/routes/users.ts
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

refactor: move auth endpoints to separate controller/route file
  packages/notes/server/app.ts
  packages/notes/server/controllers/auth.ts
  packages/notes/server/controllers/notes.ts
  packages/notes/server/controllers/users.ts
  packages/notes/server/routes/auth.ts
  packages/notes/server/routes/index.ts
  packages/notes/server/routes/users.ts
  packages/notes/server/schema.ts
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

feat: Added and completed the backend authorization
  package.json
  packages/www/pages/[id]/index.tsx
  services/note/interfaces/noteInterface.ts
  services/note/interfaces/userInterface.ts
  services/note/prisma/migrations/20200908221610-create_users_and_notes_table/README.md
  services/note/prisma/migrations/20200908221610-create_users_and_notes_table/schema.prisma
  services/note/prisma/migrations/20200908221610-create_users_and_notes_table/steps.json
  services/note/prisma/schema.prisma
  services/note/src/router/notes/controllers/createNotes.ts
  services/note/src/router/users/controllers/auth/checkAuthMiddleware.ts
  services/note/src/router/users/controllers/auth/issueTokens.ts
  services/note/src/router/users/controllers/auth/validations.ts
  services/note/src/router/users/controllers/createUsers.ts
  services/note/src/router/users/controllers/getUserNote.ts
  services/note/src/router/users/controllers/loginUser.ts
  services/note/src/router/users/index.ts
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

fix: Restructured the next js routes
  packages/www/components/Navbar.tsx
  packages/www/pages/index.tsx
  packages/www/pages/notes/[id]/edit.tsx
  packages/www/pages/notes/[id]/index.tsx
  packages/www/pages/notes/new.tsx
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

test: add tests for notes/* endpoints
  package.json
  packages/www/pages/admin/index.tsx
  packages/www/pages/login.tsx
  packages/www/pages/notes/[noteId]/index.tsx
  packages/www/pages/notes/create.tsx
  packages/www/pages/users/[username]/notes/[noteId]/index.tsx
  packages/www/pages/users/[username]/notes/create.tsx
  packages/www/service/controllers/noteController.ts
  packages/www/service/middlewares/validate.ts
  packages/www/tests/api/admin.ts
  packages/www/tests/api/auth.ts
  packages/www/tests/api/notes.ts
  packages/www/utils/nextRequest.ts
  packages/www/utils/seedDB.ts
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

feat: admin page added in next
  packages/www/components/Navbar.tsx
  packages/www/css/styles.css
  packages/www/pages/admin/[username]/edit.tsx
  packages/www/pages/admin/[username]/index.tsx
  packages/www/pages/admin/index.tsx
  packages/www/src/appUrl.ts
  services/note/src/router/notes/controllers/createNotes.ts
  services/note/src/router/users/index.ts
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

test: add tests for [GET /api/notes] endpoint
  package.json
  packages/notes/.babelrc
  packages/notes/__tests__/notes.ts
  packages/notes/package.json
  packages/notes/server/controllers/notes.ts
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop
