Repository Tuteria/Frontend-Assessment: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, tsc --noEmit --allowJs

doc: improved instruction on running and installation
  README.md
Due: prettier --write

feat: add enpoint for POST notes/create
  .lintstagedrc
  packages/www/pages/api/notes/create.ts
  packages/www/service/controllers/noteController.ts
  packages/www/service/middleware/index.ts
  packages/www/service/middleware/validate.ts
Due: prettier --write, eslint --fix, tsc --noEmit --allowJs

feat: add enpoint for GET notes/e
  packages/www/pages/api/notes/index.ts
  packages/www/service/controllers/noteController.ts
Due: prettier --write, eslint --fix, tsc --noEmit --allowJs

feat: added admin page and also new feat to get both user and notes at the same time
  data-layer/data_layer/models/notes.py
  data-layer/migrations/versions/8553fa22ed4a_added_set_of_table.py
  packages/components/src/stories/layout.stories.tsx
  packages/components/src/stories/loader.stories.tsx
  packages/components/src/stories/navbar.stories.jsx
  packages/components/src/stories/notelist.stories.jsx
  packages/components/src/stories/notes.stories.tsx
  packages/components/types/stories/button.stories.d.ts
  packages/components/types/stories/layout.stories.d.ts
  packages/components/types/stories/loader.stories.d.ts
  packages/components/types/stories/navbar.stories.d.ts
  packages/components/types/stories/notelist.stories.d.ts
  packages/components/types/stories/notes.stories.d.ts
  services/example/package.json
  services/example/prisma/schema.prisma
  services/example/src/index.ts
  services/example/src/notes.ts
  services/example/src/populate.ts
  services/example/src/users.ts
  services/notes-app/components/Layout.tsx
  services/notes-app/components/UsersList.tsx
  services/notes-app/components/navbar.tsx
  services/notes-app/components/note.tsx
  services/notes-app/components/notelist.tsx
  services/notes-app/package.json
  services/notes-app/pages/_app.tsx
  services/notes-app/pages/about.tsx
  services/notes-app/pages/admin.tsx
  services/notes-app/pages/api/users/[username]/notes.ts
  services/notes-app/pages/api/users/index.ts
  services/notes-app/pages/index.tsx
  services/notes-app/pages/user/[id].tsx
  services/notes-app/pages/user/index.tsx
  services/notes-app/utils/theme.ts
Due: prettier --write, eslint --fix, tsc --noEmit --allowJs

feat: add enpoint for PUT, DELETE for notes/:note-id
  packages/www/pages/api/notes/[noteId].ts
  packages/www/service/controllers/noteController.ts
  packages/www/service/middleware/validate.ts
Due: prettier --write, eslint --fix, tsc --noEmit --allowJs

feat: :zap: Added creating of user
  services/example/src/users.ts
  services/notes-app/components/UsersList.tsx
  services/notes-app/pages/admin.tsx
Due: prettier --write, eslint --fix, tsc --noEmit --allowJs

refactor: refactor validation logic
  package.json
  packages/www/pages/api/users/create.ts
  packages/www/service/controllers/index.ts
  packages/www/service/controllers/userController.ts
  packages/www/service/db/index.ts
  packages/www/service/db/userService.ts
  packages/www/service/middleware/validate.ts
  packages/www/service/utils/authHelper.ts
  packages/www/service/utils/index.ts
Due: prettier --write, eslint --fix, tsc --noEmit --allowJs

chore: Completed first task
  data-layer/migrations/versions/5443b51a704a_added_notes_table.py
  services/example/datamodel-1599044536571.prisma
Due: none

chore: Completed bonus for first task
  .vscode/snipsnap.code-snippets
  data-layer/data_layer/settings.py
  services/example/prisma/schema.prisma
Due: none

feat: add endpoint for GET notes/:note-id
  packages/www/pages/api/notes/[noteId].ts
  packages/www/pages/api/users/[username]/notes.ts
  packages/www/pages/api/users/[username]/notes/[noteId].ts
  packages/www/service/controllers/noteController.ts
  packages/www/service/controllers/userController.ts
  packages/www/service/db/noteService.ts
  packages/www/service/middleware/validate.ts
Due: prettier --write, eslint --fix, tsc --noEmit --allowJs

feat: initial commit
  data-layer/data_layer/settings.py
  services/example/prisma/schema.prisma
  services/example/tests/notes.ts
Due: prettier --write, eslint --fix, tsc --noEmit --allowJs

feat: :sparkles: Added new admin func
  data-layer/data_layer/models/users.py
  data-layer/data_layer/settings.py
  data-layer/migrations/versions/bf4c480a9ce7_added_new_column.py
  package.json
  packages/components/src/stories/navbar.stories.tsx
  packages/components/src/stories/notelist.stories.tsx
  services/example/package.json
  services/example/prisma/schema.prisma
  services/example/src/notes.ts
  services/example/src/populate.ts
  services/example/src/users.ts
  services/notes-app/auth-helpers/getToken.ts
  services/notes-app/auth-helpers/saveToLocal.ts
  services/notes-app/components/Layout.tsx
  services/notes-app/components/UsersList.tsx
  services/notes-app/components/note.tsx
  services/notes-app/pages/admin.tsx
  services/notes-app/pages/api/users/[username]/admin.ts
  services/notes-app/pages/api/users/index.ts
  services/notes-app/pages/api/users/login.ts
  services/notes-app/pages/index.tsx
  services/notes-app/pages/login.tsx
  services/notes-app/pages/user/[id].tsx
  services/notes-app/pages/user/[username].tsx
Due: prettier --write, eslint --fix, tsc --noEmit --allowJs

feat: :sparkles: Added create create note func
  services/example/src/notes.ts
  services/example/src/populate.ts
  services/example/src/users.ts
  services/notes-app/auth-helpers/saveToLocal.ts
  services/notes-app/components/Layout.tsx
  services/notes-app/components/UsersList.tsx
  services/notes-app/components/note.tsx
  services/notes-app/components/notelist.tsx
  services/notes-app/pages/admin.tsx
  services/notes-app/pages/user/[username].tsx
Due: prettier --write, eslint --fix, tsc --noEmit --allowJs

feat: :sparkles: Added delete function for note
  services/example/src/notes.ts
  services/example/src/users.ts
  services/notes-app/components/UsersList.tsx
  services/notes-app/components/note.tsx
  services/notes-app/components/notelist.tsx
  services/notes-app/pages/index.tsx
  services/notes-app/pages/login.tsx
  services/notes-app/pages/user/[username].tsx
Due: prettier --write, eslint --fix, tsc --noEmit --allowJs

test: :lock: Reconfigured test
  services/example/src/index.ts
  services/example/src/notes.ts
  services/example/tests/notes.ts
  services/example/tests/users.ts
Due: prettier --write, eslint --fix, tsc --noEmit --allowJs

test: :art: Added more test
  services/example/src/notes.ts
  services/example/src/users.ts
  services/example/tests/users.ts
Due: prettier --write, eslint --fix, tsc --noEmit --allowJs

chore: ready for push
  packages/components/src/stories/layout.stories.tsx
  packages/components/src/stories/navbar.stories.tsx
  services/example/src/index.ts
  services/example/src/users.ts
  services/example/tests/users.ts
  services/notes-app/components/note.tsx
  services/notes-app/pages/login.tsx
Due: prettier --write, eslint --fix, tsc --noEmit --allowJs

fix: added the database url directly to the prisma client to fix failing env
  .vscode/settings.json
  data-layer/data_layer/settings.py
  data-layer/migrations/versions/1ae6ed11ce0d_added_notes_table.py
  data-layer/migrations/versions/3f2cff274c48_added_notes_table.py
  data-layer/migrations/versions/654dd1a6db52_added_notes_table.py
  data-layer/migrations/versions/a86ee1df99fd_added_notes_table.py
  data-layer/migrations/versions/b11510d8d1c6_added_notes_table.py
  data-layer/migrations/versions/d3b1080c9e40_added_notes_table.py
  services/example/prisma/schema.prisma
  services/example/src/env.ts
  services/example/tests/notes.ts
Due: prettier --write, eslint --fix, tsc --noEmit --allowJs

fix: fixed the .env issue and fixed the scripts in the package.json
  package.json
  services/note/package.json
  services/note/prisma/schema.prisma
  services/note/src/app.ts
  services/note/src/index.ts
  services/note/src/router/notes/index.ts
  services/note/src/router/users/index.ts
  services/note/tests/notes.ts
  services/note/tsconfig.json
Due: prettier --write, eslint --fix, tsc --noEmit --allowJs

feat: Added the notes router middleware to handle routing for the notes service
  services/note/src/router/notes/index.ts
Due: prettier --write, eslint --fix, tsc --noEmit --allowJs

feat: Added The User and Note Models and migrated
  services/note/prisma/migrations/20200903195653-create_user_and_note_table/README.md
  services/note/prisma/migrations/20200903195653-create_user_and_note_table/schema.prisma
  services/note/prisma/migrations/20200903195653-create_user_and_note_table/steps.json
  services/note/src/router/notes/index.ts
Due: prettier --write, eslint --fix, tsc --noEmit --allowJs

feat: Database seeding
  services/note/prisma/schema.prisma
  services/note/seeds.ts
Due: prettier --write, eslint --fix, tsc --noEmit --allowJs

fix: :fire: added extra test
  services/example/src/index.ts
  services/example/src/users.ts
  services/example/tests/users.ts
  services/notes-app/components/UsersList.tsx
  services/notes-app/interfaces/index.ts
  services/notes-app/pages/admin.tsx
  services/notes-app/pages/api/users/[username]/admin.ts
  services/notes-app/pages/api/users/index.ts
  services/notes-app/pages/login.tsx
Due: prettier --write, eslint --fix, tsc --noEmit --allowJs

feat: added the user endpoint
  services/note/src/index.ts
  services/note/src/router/notes/index.ts
  services/note/src/router/users/index.ts
Due: prettier --write, eslint --fix, tsc --noEmit --allowJs

fix: Modularized the user and notes endpoints
  services/note/src/router/notes/controllers/createNotes.ts
  services/note/src/router/notes/controllers/getNotes.ts
  services/note/src/router/notes/index.ts
  services/note/src/router/users/controllers/createUsers.ts
  services/note/src/router/users/controllers/getOneUser.ts
  services/note/src/router/users/controllers/getUserNote.ts
  services/note/src/router/users/controllers/getUsers.ts
  services/note/src/router/users/index.ts
Due: prettier --write, eslint --fix, tsc --noEmit --allowJs

feat: Added interfaces for static typing
  services/note/interfaces/noteInterface.ts
  services/note/src/router/notes/controllers/createNotes.ts
  services/note/src/router/notes/index.ts
  services/note/src/router/users/index.ts
Due: prettier --write, eslint --fix, tsc --noEmit --allowJs

feat: Added interfaces for static typing
  services/note/interfaces/noteInterface.ts
  services/note/interfaces/userInterface.ts
Due: prettier --write, eslint --fix, tsc --noEmit --allowJs

feat: Added update and delete endpoints
  services/note/src/router/notes/controllers/createNotes.ts
  services/note/src/router/notes/controllers/deleteNote.ts
  services/note/src/router/notes/controllers/updateNote.ts
  services/note/src/router/notes/index.ts
Due: prettier --write, eslint --fix, tsc --noEmit --allowJs

fix: Fixed internal server error from the prisma not being generated
  services/note/README.md
  services/note/prisma/schema.prisma
  services/note/tests/notes.test.ts
Due: prettier --write, eslint --fix, tsc --noEmit --allowJs

chore: ready for merge
  services/example/tests/users.ts
Due: prettier --write, eslint --fix, tsc --noEmit --allowJs

Update README.md
  README.md
Due: prettier --write

Update package.json
  services/notes-app/package.json
Due: prettier --write

review: save changes
  .github/workflows/ci.yml
Due: prettier --write

fix: ci data-layer change
  .github/workflows/ci.yml
Due: prettier --write

fix: ci disable lint
  .github/workflows/ci.yml
Due: prettier --write

feat: add notes/:note-id page
  package.json
  packages/www/components/container.tsx
  packages/www/components/deleteNote.tsx
  packages/www/components/index.ts
  packages/www/components/layout.tsx
  packages/www/components/login.tsx
  packages/www/components/meta.tsx
  packages/www/components/nav.tsx
  packages/www/components/note.tsx
  packages/www/constants.ts
  packages/www/pages/_app.tsx
  packages/www/pages/api/notes/[noteId].ts
  packages/www/pages/index.tsx
  packages/www/pages/notes/[noteId]/index.tsx
  packages/www/pages/notes/create.tsx
  packages/www/service/controllers/noteController.ts
  packages/www/service/middleware/validate.ts
Due: prettier --write, eslint --fix, tsc --noEmit --allowJs

feat: initial commit
  GettingStarted.md
  data-layer/data_layer/models/__init__.py
  data-layer/data_layer/models/notes.py
  data-layer/data_layer/models/users.py
  data-layer/migrations/versions/54119753fb8f_added_notes_and_users_tables.py
  package.json
  packages/www/ProtectAdmin.tsx
  packages/www/ProtectedRoute.tsx
  packages/www/components/Header.tsx
  packages/www/components/Layout.tsx
  packages/www/package.json
  packages/www/pages/_app.tsx
  packages/www/pages/admin-login.tsx
  packages/www/pages/admin.tsx
  packages/www/pages/index.tsx
  packages/www/pages/login.tsx
  packages/www/pages/note/[id].tsx
  packages/www/pages/note/update/[id].tsx
  packages/www/pages/notes/create.tsx
  packages/www/pages/signup.tsx
  packages/www/pages/user/[id].tsx
  packages/www/styles.css
  packages/www/utils/environment.tsx
  services/example/package.json
  services/example/prisma/schema.prisma
  services/example/src/app.ts
  services/example/src/index.ts
  services/example/src/jwt.ts
  services/example/src/notes.ts
  services/example/src/users.ts
Due: prettier --write, eslint --fix, tsc --noEmit --allowJs

feat: add notes/create page
  packages/www/components/deleteNote.tsx
  packages/www/pages/index.tsx
  packages/www/pages/notes/[noteId]/index.tsx
  packages/www/pages/notes/create.tsx
  packages/www/service/controllers/noteController.ts
  packages/www/service/middleware/validate.ts
Due: prettier --write, eslint --fix, tsc --noEmit --allowJs

feat: Completed Task 2
  .vscode/settings.json
  services/package/.gitignore
  services/package/README.md
  services/package/database-setup.js
  services/package/db.js
  services/package/migrations/001-helloworld.sql
  services/package/mydb.sqlite
  services/package/next-env.d.ts
  services/package/package.json
  services/package/prisma/schema.prisma
  services/package/src/pages/api/index.ts
  services/package/src/pages/api/notes/[note-id].ts
  services/package/src/pages/api/notes/create.ts
  services/package/src/pages/api/notes/index.ts
  services/package/src/pages/api/users/[username]/notes.ts
  services/package/src/pages/api/users/create.ts
  services/package/src/pages/api/users/index.ts
  services/package/tsconfig.json
Due: prettier --write, eslint --fix, tsc --noEmit --allowJs

Path conditions:
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,yml,json,babelrc,eslintrc,prettierrc})
  eslint --fix: any of: **/*.{ts,tsx,js,jsx}
  tsc --noEmit --allowJs: any of: **/*.{ts,tsx,js,jsx}
