Repository Tuteria/Frontend-Assessment: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

feat: add logout functionality
  packages/notes/components/Header/Header.tsx
  packages/notes/components/Header/LogoutBtn.tsx
  packages/notes/components/Header/NavLink.tsx
  packages/notes/pages/_app.tsx
  packages/notes/pages/login.tsx
  packages/notes/types.ts
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

feat: add get users endpoint for admin
  packages/notes/components/Header/LogoutBtn.tsx
  packages/notes/server/controllers/users.ts
  packages/notes/server/routes/users.ts
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

save chagnes
  .github/workflows/ci.yml
  package.json
Due: prettier --write

feat: add admin page
  packages/notes/components/Header/LogoutBtn.tsx
  packages/notes/components/LoginForm/LoginForm.tsx
  packages/notes/components/Note/DeleteNoteBtn.tsx
  packages/notes/components/NoteModal/NoteModal.tsx
  packages/notes/components/User/User.tsx
  packages/notes/components/User/index.ts
  packages/notes/components/index.ts
  packages/notes/next.config.js
  packages/notes/pages/admin.tsx
  packages/notes/pages/index.tsx
  packages/notes/pages/users/[username].tsx
  packages/notes/server/controllers/users.ts
  packages/notes/types.ts
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

feat: add ability for admins to create users
  packages/notes/components/CreateUserModal/CreateUserModal.tsx
  packages/notes/components/CreateUserModal/UserModalActivator.tsx
  packages/notes/components/CreateUserModal/index.ts
  packages/notes/components/LoginForm/LoginForm.tsx
  packages/notes/components/index.ts
  packages/notes/pages/admin.tsx
  packages/notes/reducer.ts
  packages/notes/server/controllers/users.ts
  packages/notes/types.ts
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

fix: add custom Prop type for nextJs
  package.json
  packages/notes/package.json
  packages/notes/pages/_app.tsx
  packages/notes/pages/admin.tsx
  packages/notes/pages/login.tsx
  packages/notes/server/controllers/auth.ts
  packages/notes/server/controllers/notes.ts
  packages/notes/server/middleware/index.ts
  packages/notes/types.ts
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

fix: return author in note update payload
  packages/notes/server/controllers/notes.ts
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

docs: add instructions for running app locally
  README.md
Due: prettier --write

add .env template
  packages/notes/.env.template
Due: none

feat: add users model
  data-layer/data_layer/models/__init__.py
  data-layer/data_layer/models/users.py
  services/example/prisma/schema.prisma
Due: none

feat: modify notes model
  data-layer/data_layer/models/notes.py
Due: none

chore: First successful commit
  services/example/prisma/schema.prisma
  services/example/src/app.ts
  services/example/src/notes.ts
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

feat: add controllers
  package.json
  services/example/src/authentication.ts
  services/example/src/notes.ts
  services/example/src/users.ts
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

chore: add data seeder
  package.json
  services/example/prisma/factory.js
  services/example/prisma/seed.js
  services/example/prisma/seeder.js
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

feat: add header component
  packages/components/src/ui-elements/header/header.module.css
  packages/components/src/ui-elements/header/header.tsx
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

feat: add note component
  packages/components/src/ui-elements/note/note.module.css
  packages/components/src/ui-elements/note/note.tsx
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

feat: add note list component
  packages/components/src/ui-elements/noteList/noteList.module.css
  packages/components/src/ui-elements/noteList/noteList.tsx
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

feat: add note form component
  packages/components/src/ui-elements/noteForm/noteForm.module.css
  packages/components/src/ui-elements/noteForm/noteForm.tsx
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

feat: add login form component
  packages/components/src/ui-elements/loginForm/loginForm.module.css
  packages/components/src/ui-elements/loginForm/loginForm.tsx
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

feat: add table and user form component
  packages/components/src/ui-elements/table/table.module.css
  packages/components/src/ui-elements/table/table.tsx
  packages/components/src/ui-elements/tableRow/tableRow.module.css
  packages/components/src/ui-elements/tableRow/tableRow.tsx
  packages/components/src/ui-elements/userForm/userForm.module.css
  packages/components/src/ui-elements/userForm/userForm.tsx
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

chore: configure storybook
  .storybook/main.js
  .storybook/preview.tsx
  package.json
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

chore: add stories
  packages/components/src/stories/header.stories.tsx
  packages/components/src/stories/note.stories.tsx
  packages/components/src/stories/noteList.stories.tsx
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

feat: add notes and users api routes
  packages/www/pages/api/notes/[id].ts
  packages/www/pages/api/notes/create.ts
  packages/www/pages/api/notes/index.ts
  packages/www/pages/api/users/[username].ts
  packages/www/pages/api/users/index.ts
  packages/www/pages/api/users/login.ts
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

chore: add authentication helpers
  packages/www/utils/auth.ts
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

feat: add auth context provider
  packages/www/pages/_app.js
  packages/www/utils/auth.ts
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

feat: add page layout component
  packages/www/src/layout/layout.module.css
  packages/www/src/layout/layout.tsx
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

chore: configure css module transpiler
  packages/www/next.config.js
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

feat: add home and user pages
  packages/www/pages/[username].tsx
  packages/www/pages/admin/index.tsx
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

feat: add admin page
  packages/www/pages/admin/index.tsx
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

fix: fix import issues
  package.json
  packages/components/src/ui-elements/noteList/noteList.tsx
  packages/components/src/ui-elements/table/table.tsx
  packages/www/pages/index.tsx
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

fix: change role field to is_admin
  packages/components/src/ui-elements/header/header.tsx
  packages/www/src/layout/layout.tsx
  services/example/src/authentication.ts
  services/example/src/users.ts
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

running tests in isolated environment
  .github/workflows/ci.yml
  docker-compose.yml
  packages/notes/.env.template
  startup.sh
Due: prettier --write

added secondary endpoint
  .github/workflows/ci.yml
Due: prettier --write

refactor(LogoutBtn): use window.location's assign method
  packages/notes/components/Header/LogoutBtn.tsx
  packages/notes/package.json
  packages/notes/server/controllers/notes.ts
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

fix(admin): redirect unauthorized users to login page
  packages/notes/pages/admin.tsx
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

fix: remove unnecessary imports
  package.json
  packages/www/pages/_app.js
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

fix(services/example/package.json): Fix start:dev
  services/example/package.json
Due: prettier --write

add database seeder script
  packages/notes/__tests__/users.spec.ts
  packages/notes/package.json
  packages/notes/scripts/data/notes.json
  packages/notes/scripts/seed-db.js
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

chore: add seed command
  packages/www/package.json
  services/example/package.json
  services/example/prisma/factory.js
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

feat(services/example/src/notes.ts): Complete GET /notes
  services/example/prisma/schema.prisma
  services/example/src/notes.ts
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

Path conditions:
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,yml,json,babelrc,eslintrc,prettierrc})
  eslint --fix: any of: **/*.{ts,tsx,js,jsx}
  tsc --allowJs --noEmit --esModuleInterop: any of: **/*.{ts,tsx,js,jsx}
